# choose st-link/j-link/dap-link etc.
adapter driver cmsis-dap
transport select swd

# STM32F103C8T6: 64 KiB Flash.
set FLASH_SIZE 0x10000

source [find target/stm32f1x.cfg]

# Conservative speed verified with the current DAPLink.
adapter speed 1000
